# fly.toml app configuration file generated for pictible on 2026-01-14T20:29:14+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pictible'
primary_region = 'bom'

[build]

[http_service]
  internal_port = 4069
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
